
<div class="get_in_tauch_area" id="get_in_tauch_area" >
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section_title text-center mb-30">
          <h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s"><%= get_section_2 %></h3>
          <p class="text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
            <b><%= get_title %></b><br/>
            <i><%= "<i class='fas fa-map-marker-alt'></i> #{get_address}".html_safe if get_address %></i><br/>
            <%= "<i class='fas fa-envelope'></i> <a href='mailto:#{get_email_address}'>#{get_email_address}</a>".html_safe if get_email_address %><br/>
            <i><%= "<i class='fas fa-mobile'></i> #{get_contact_number_1}".html_safe if get_contact_number_1 %></i><br/>
            <i><%= "<i class='fas fa-phone'></i> #{get_contact_number_2}".html_safe if get_contact_number_2 %></i>
          </p>
        </div>
        <div class="dropdown-divider"></div>
      </div>
    </div>
    <div class="row justify-content-center mt-30">
      <div class="col-lg-8">
        <div class="touch_form">
          <form action="/" method="post">
            <div class="row">
              <div class="col-md-6">
                <div class="single_input wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                  <input type="text" name="name" placeholder="Your Name" required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="single_input wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                  <input type="email" name="email" placeholder="Email" required>
                </div>
              </div>
              <div class="col-md-12">
                <div class="single_input wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                  <input type="text" name="phone_number" placeholder="Phone/Telephone Number" required>
                </div>
              </div>
              <div class="col-md-12">
                <div class="single_input wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                  <input type="text" name="subject" placeholder="Subject" required>
                </div>
              </div>
              <div class="col-md-12">
                <div class="single_input wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                  <textarea name="message" id="" cols="30" placeholder="Message" rows="10" required></textarea>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="submit_btn wow fadeInUp" data-wow-duration="1s" data-wow-delay=".7s">
                  <button class="boxed-btn3" type="submit">Send Message</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>