<% image_size ||= 400 %>

<% if !post.image_attachment.nil?  %>
  <% if post.image_attachment.attached? %>
    <div class='text-center' style='max-width: <%= image_size %>px; margin: auto;'>
      <div class="responsive">
        <% post.image_attachment.each do |image_attachment| %>
          <div class="">
            <%= image_tag image_attachment, :class => 'img-fluid mx-auto', :style => 'width: 100%; max-width: 350px;', :alt => post.title %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>