<div class="col-lg-4">
  <div class="blog_right_sidebar">
    <!--    <aside class="single_sidebar_widget search_widget">-->
    <!--      <form action="#">-->
    <!--        <div class="form-group">-->
    <!--          <div class="input-group mb-3">-->
    <!--            <input type="text" class="form-control" placeholder='Search Keyword'-->
    <!--                   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'">-->
    <!--            <div class="input-group-append">-->
    <!--              <button class="btn" type="button"><i class="ti-search"></i></button>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"-->
    <!--                type="submit">Search</button>-->
    <!--      </form>-->
    <!--    </aside>-->
    <aside class="single_sidebar_widget popular_post_widget">
      <h3 class="widget_title">Recent Post</h3>
      <% Post.bulletins.limit(5).each do |post| %>
        <div class="media post_item">
          <div class="media-body">
            <a href="<%= post_path(:id => post.id) %>">
              <h3><%= post.title %></h3>
            </a>
            <p><%= post.created_at.strftime('%B %d, %Y') %></p>
          </div>
        </div>
      <% end %>
    </aside>
    <aside class="single_sidebar_widget popular_post_widget">
      <h3 class="widget_title">Old Post</h3>
      <% Post.bulletins.order("created_at ASC").limit(5).each do |post| %>
        <div class="media post_item">
          <div class="media-body">
            <a href="<%= post_path(:id => post.id) %>">
              <h3><%= post.title %></h3>
            </a>
            <p><%= post.created_at.strftime('%B %d, %Y') %></p>
          </div>
        </div>
      <% end %>
    </aside>

  </div>
</div>
