<!-- testimonial_area  -->
<div class="testimonial_area " style="display:none;">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="testmonial_active owl-carousel">
          <% Post.short_posts.limit(10).each do |post| %>
            <div class="single_carousel">
              <div class="single_testmonial text-center">
                <p><%= post.description.nil? ? '' : truncate_html_to_sentence(post.description) %></p>
                <div class="testmonial_author">
                  <h3><%= post.title %></h3>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /testimonial_area  -->
