<!-- portfolio_details_banner_start  -->
<div class="portfolio_details_banner">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="details_info ">
          <h3 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay=".3s"><%= @post.title %></h3>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- portfolio_details_banner_end  -->

<div class="portfolio_details_wrap">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="banner wow fadeInUp text-center mt-5" data-wow-duration="1.5s" data-wow-delay=".3s">
          <% if !@post.image_attachment.nil? %>
            <% if @post.image_attachment.attached? %>
              <%= image_tag @post.image_attachment[0], :class => 'img-fluid', :style => 'width: 50%;', :alt => @post.title %>
            <% else %>
              <div style="height: 80px;">&nbsp;</div>
            <% end %>
          <% else %>
            <div style="height: 80px;">&nbsp;</div>
          <% end %>
        </div>
        <div class="details_text">
          <div class="row">
            <div class="col-lg-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
              <%= @post.description.present? ? @post.description.html_safe : '' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%= render 'static_pages/testimonial_area' %>

<%= render 'static_pages/contact_us' %>

<%= render 'layouts/static/footer' %>
