<% if !@advisor_message.image_attachment.nil? %>
  <% if @advisor_message.image_attachment.attached? %>
    <style>
        .about_area::before {
            background-image: url('<%= rails_blob_url(@advisor_message.image_attachment[0]) %>');
        }
    </style>
  <% else %>
    <style>
        .about_area::before {
            background: white
        }
    </style>
  <% end %>
<% else %>
  <style>
      .about_area::before {
          background: white
      }
  </style>
<% end %>

<%= render 'layouts/static/bradcam' %>

<!-- service_area  -->
<div class="service_area">
  <div class="container">
    <div class="row">
      <% Post.pinned_post.limit(3).each do |post| %>
        <div class="col-xl-12 col-md-12" style="margin-top: 1.5rem; margin-bottom: 1.5rem;">
          <div class="wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay=".4s">
            <div class="text-center">
              <h3><%= post.title %></h3>
              <%= render partial: 'image_carousel', locals: { post: post } %>
            </div>
            <p><%= post.description.present? ? "#{truncate_html_length_to_sentence(post.description, 150)}".html_safe : '' %></p>
            <div class="text-center">
              <a href="<%= post_path(:id => post.id) %>" class="boxed-btn3 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".7s">Read
                more...</a>
            </div>
          </div>
        </div>
      <% end %>
      <% Post.latest_post.limit(3).each do |post| %>
        <div class="col-xl-4 col-md-4 my-2">
          <div class="single_service wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay=".4s">
            <div class="text-center ">
              <% if !post.image_attachment.nil? %>
                <% if post.image_attachment.attached? %>
                  <%= image_tag post.image_attachment[0], :class => 'img-fluid', :style => 'width: 50%;', :alt => post.title %>
                <% end %>
              <% end %>
            </div>
            <h3><%= post.title %></h3>
            <p><%= post.description.present? ? truncate_html_length_to_sentence(post.description, 150) : '' %></p>
            <div class="text-center ">
            <a href="<%= post_path(:id => post.id) %>" class="boxed-btn3 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".7s">Read
              more...</a>
          </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-xl-12 col-md-12 my-2">
        <div class="text-center wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay=".4s">
          <a href="<%= bullet_board_path %>" class="boxed-btn3 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".7s">Click
            for more updates</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ service_area  -->

<div class="about_area">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-lg-5 offset-lg-1">
        <div class="about_info">
          <div class="section_title white_text">
            <h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s"><%= @advisor_message.title %></h3>
            <p class="last_text wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s"><%= @advisor_message.description.present? ? @advisor_message.description.html_safe : '' %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- portfolio_image_area  -->
<div class="portfolio_image_area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section_title text-center mb-90">
          <h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s"><%= get_section_1 %></h3>
          <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s"><%= get_section_1_description %></p>
        </div>
      </div>
    </div>
    <div class="row">
      <% Post.photo_galleries.limit(12).each do |post| %>
        <div class="col-lg-6 col-md-12">
          <div class="single_Portfolio wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
            <div class="portfolio_thumb">
              <% if !post.image_attachment.nil? %>
                <% if post.image_attachment.attached? %>
                  <%= image_tag post.image_attachment[0], :alt => post.title %>
                <% end %>
              <% end %>
            </div>
            <div class="portfolio_hover">
              <div class="title">
                <a href="<%= post_path(:id => post.id) %>">
                  <span><%= post.title %></span>
                  <h3><%= post.description.present? ? '' : truncate_html_to_sentence(post.description) %></h3>
                </a>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!--/ portfolio_image_area  -->


<%= render 'static_pages/testimonial_area' %>

<%= render 'static_pages/contact_us' %>

<%= render 'layouts/static/footer' %>
