<!-- bradcam_area  -->
<div class="bradcam_area breadcam_bg_2">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="bradcam_text">
          <h3><%= get_section_1 %></h3>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /bradcam_area  -->
<!-- service_area  -->
<div class="service_area">
  <div class="container">
    <div class="row">
      <% Post.photo_galleries.each do |post| %>
        <div class="col-xl-12 col-md-12">
          <div class="single_service text-center wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay=".4s">
            <h3><%= post.title %></h3>
            <% if !post.image_attachment.nil? %>
              <% if post.image_attachment.attached? %>
                <%= image_tag post.image_attachment[0], :class => 'img-fluid', :style => 'width: 100%; max-width: 250px;', :alt => post.title %>
              <% end %>
            <% end %>
            <p><%= post.description.present? ? "#{truncate_html_length_to_sentence(post.description, 1000)}".html_safe : '' %></p>
            <a href="<%= post_path(:id => post.id) %>" class="boxed-btn3 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".7s">See
              more...</a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!--/ service_area  -->

<%= render 'static_pages/testimonial_area' %>

<%= render 'static_pages/contact_us' %>

<%= render 'layouts/static/footer' %>
