<%= render 'layouts/static/bradcam' %>

<!--================Blog Area =================-->
<section class="blog_area single-post-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 posts-list">
        <div class="single-post">
          <% if @post.section_id != 3 %>
            <div class="feature-img">
                <%= render partial: 'image_carousel', locals: { post: @post, image_size: 600 } %>
            </div>
          <% end %>
          <div class="blog_details">
            <h2><%= @post.title %>
            </h2>
            <ul class="blog-info-link mt-3 mb-4">
              <li><i class="fa fa-calendar"></i> <%= @post.created_at.strftime('%B %d, %Y') %></li>
            </ul>
            <p class="excert">
              <%= @post.description.html_safe %>
            </p>
            <% if !@post.file_attachment.nil? %>
              <% if @post.file_attachment.attached? %>
                <% @post.file_attachment.each_with_index do |file_attachment, index| %>
                  <iframe src="<%= rails_blob_path(file_attachment, disposition: 'preview') %>" style="width: 100%; height: 1000px; border: none;"> </iframe>
                <% end %>
              <% end %>
            <% end %>

          </div>
        </div>
      </div>
    </div>
    <% if @post.section_id == 3 %>
      <div class="thumbs">
        <div class="row">
          <% if !@post.image_attachment.nil? %>
            <% if @post.image_attachment.attached? %>
              <% @post.image_attachment.each_with_index do |image_attachment, index| %>
                  <div class="col-lg-6 col-md-6">
                    <div class="single_thumb wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">
                      <%= image_tag image_attachment, :alt => @post.title %>
                    </div>p
                  </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</section>
<!--================ Blog Area end =================-->

<%= render 'static_pages/testimonial_area' %>

<%= render 'static_pages/contact_us' %>

<%= render 'layouts/static/footer' %>
