<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html><head><meta content="exported via StampReady" name="sr_export"><meta http-equiv="Content-Type" content="text/html; charset=utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><style type="text/css">
    /* -------------------------------------
            General styles
    ------------------------------------- */
    body {width:100% !important; margin:0; padding:0; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;}
    #backgroundTable {margin:0; padding:0; width:100% !important; line-height: 100% !important;}
    img {outline:none; text-decoration:none; border:none; -ms-interpolation-mode: bicubic;}
    a img {border:none;}
    .image_fix {display:block;}
    p {margin: 0px !important;}
    table td {border-collapse: collapse;}
    table {border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;}
    table[class=full] {width: 100%;}
    .FluidButton {margin: 0 !important;}
    /* Client-specific Styles */
    #outlook a {padding:0;} /* Force Outlook to provide a "view in browser" menu link. */
    /* Prevent Webkit and Windows Mobile platforms from changing default font sizes, while not breaking desktop design. */
    .ExternalClass {width:100%;} /* Force Hotmail to display emails at full width */
    .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;} /* Force Hotmail to display normal line spacing.*/

    /* -------------------------------------
            Typography
    ------------------------------------- */
    body, td {font-family: Helvetica, Arial, sans-serif; font-size:14px; color: #000000;}

    /* -------------------------------------
            Tablet styles
    ------------------------------------- */
    @media only screen and (max-width: 640px) {
        a[href^="tel"], a[href^="sms"] {
            text-decoration: none;
            color: #ffffff; /* or whatever your want */
            pointer-events: none;
            cursor: default;
        }
        .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
            text-decoration: default;
            color: #ffffff !important;
            pointer-events: auto;
            cursor: default;
        }
        table[class=devicewidth] {width: 440px !important; text-align:center !important;}
        td[class=devicewidth] {width: 440px !important; text-align:center !important;}
        table[class=devicewidthinner] {width: 420px !important; text-align:center !important;}
        td[class=devicewidthinner] {width: 420px !important; text-align:center !important;}
        table[class="emhide"] {display: none !important;}
        td[class="emhide"] {display: none !important;}
        img[class="bigimage"] {width: 440px !important; height:169px !important;}
        img[class="col2img"] {width: 260px !important; height:103px !important;}
        img[class="col2img2"] {width: 260px !important; height:103px !important; padding-top:25px;}
        td[class="logo"] {text-align: center !important;}
        img[class="features"] {padding-bottom:25px;}
        table[class=FluidButton] {text-align:center; margin: 0px auto !important;}
        table[class=sep] {width: 80% !important;}
        td[class=mobilecentering] {text-align:center !important;}
        td[class=footer] {width: 100%; padding-left: 10px; padding-right: 10px; text-align:center !important;}
    }

    /* -------------------------------------
            Mobile styles
    ------------------------------------- */
    @media only screen and (max-width: 480px) {
        a[href^="tel"], a[href^="sms"] {
            text-decoration: none;
            color: #ffffff; /* or whatever your want */
            pointer-events: none;
            cursor: default;
        }
        .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
            text-decoration: default;
            color: #ffffff !important;
            pointer-events: auto;
            cursor: default;
        }
        table[class=devicewidth] {width: 280px !important; text-align:center !important;}
        td[class=devicewidth] {width: 280px !important; text-align:center !important;}
        table[class=devicewidthinner] {width: 260px !important; text-align:center !important;}
        td[class=devicewidthinner] {width: 260px !important; text-align:center !important;}
        table[class="emhide"] {display: none !important; }
        td[class="emhide"] {display: none !important; }
        img[class="bigimage"] {width: 280px !important; height:116px !important;}
        img[class="col2img"] {width: 260px !important; height:103px !important;}
        img[class="col2img2"] {width: 260px !important; height:103px !important;}
    }
</style></head><body>  					 					  				<table width="100%" bgcolor="#eeeeee" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" data-module="header">
  <tr>
    <td align="center">
      <table bgcolor="#FFFFFF" width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth" data-bgcolor="Logo" style="background-color: rgb(238, 238, 238);">
        <tr>
          <td align="center">
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
              <tr>
                <td align="center">
                  <table width="540" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                    <!-- Spacing -->
                    <tr>
                      <td width="100%" height="30" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">
                        &nbsp; 												</td>
                    </tr>
                    <!-- End of Spacing -->
                    <!-- Logo: 179x40 pixels -->
                    <tr>
                      <td width="100%" align="center" valign="middle" class="devicewidthinner" style="text-align:center;">
                        <img width="250" src="<%= attachments[@email_template_filename].url %>" alt="logo" border="0" style="border:none; outline:none; text-decoration:none;">
                      </td>
                    </tr>
                    <!-- End of Logo -->
                    <!-- Spacing -->
                    <tr>
                      <td width="100%" height="28" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">
                        &nbsp; 												</td>
                    </tr>
                    <!-- End of Spacing -->
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table width="100%" bgcolor="#eeeeee" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" data-module="title+text">
  <tr>
    <td align="center">
      <table bgcolor="#ffffff" width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth" data-bgcolor="Confirmation Module">
        <tr>
          <td align="center">
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
              <!-- Spacing -->
              <tr>
                <td width="100%" height="30" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">
                  &nbsp; 									</td>
              </tr>
              <!-- End of Spacing -->
              <tr>
                <td align="center">
                  <table width="540" align="center" cellpadding="0" cellspacing="0" border="0" class="devicewidthinner">
                    <!-- Title -->
                    <tr>
                      <td style="font-family: Helvetica, Arial, sans-serif; text-align:center; font-weight:bold; font-size: 24px; line-height:24px;" data-color="Main Headline" data-size="Main Headline">
                        FAQ</td>
                    </tr>
                    <!-- End of Title -->
                    <!-- Spacing -->
                    <tr>
                      <td height="15" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">
                        &nbsp; 												</td>
                    </tr>
                    <!-- End of Spacing -->
                    <!-- Content -->
                    <tr>
                      <td style="font-family: Helvetica, Arial, sans-serif; font-weight: normal; font-size:14px; color: #0E0E0E; line-height:18px; text-align:left;" data-color="Main Text" data-size="Main Text">
                        Hello &lt;<b>Admin</b>&gt;!<br>
                        <br>
                        Message From: <b><%= @name %></b> - <i><%= @email %> <%= @phone_number %></i>
                        <br>
                        <br>
                        <%= @message %>
                        <br>
                        <br>
                        Thanks,&nbsp;<br>
                        <%= Setting.get_settings_value('title') %></td>
                    </tr>
                    <!-- End of content -->
                    <!-- Spacing -->
                    <tr>
                      <td width="100%" height="20" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">
                        &nbsp; 												</td>
                    </tr>
                    <!-- End of Spacing -->
                    <!-- Spacing -->
                    <tr>
                      <td width="100%" height="24" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">
                        &nbsp; 												</td>
                    </tr>
                    <!-- End of Spacing -->
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table width="100%" bgcolor="#eeeeee" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" data-module="social">
  <tr>
    <td align="center">
      <table width="600" bgcolor="#a0a0a0" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth" data-bgcolor="Footer Module" style="background-color: rgb(0, 0, 0);">
        <tr>
          <td align="center">
            <table width="540" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
              <!-- Spacing -->
              <tr>
                <td width="100%" height="25" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">
                  &nbsp; 									</td>
              </tr>
              <!-- End of Spacing -->
              <!-- Company information -->
              <tr>
                <td width="100%" align="center" valign="middle" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; color:#fefefe; text-align:center;" class="footer" data-color="Footer Text" data-size="Footer Text">
                  © <%= "#{Setting.get_settings_value('title')} - #{Setting.get_settings_value('address')}" %> | Phone: <%= Setting.get_settings_value('contact_number_1') %> | Fax: <%= Setting.get_settings_value('contact_number_2') %>
                </td>
              </tr>
              <!-- End of Company information -->
              <!-- Spacing -->
              <tr>
                <td width="100%" height="20" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">
                  &nbsp; 									</td>
              </tr>
              <!-- End of Spacing -->
              <!-- Spacing -->
              <tr>
                <td width="100%" height="15" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">
                  &nbsp; 									</td>
              </tr>
              <!-- End of Spacing -->
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body></html>
