<!-- bradcam_area  -->
<div class="bradcam_area breadcam_bg_2">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="bradcam_text">
          <h3><%= get_title %></h3>
          <span style="color: #fff;"><%= Setting.get_settings_value('description').present? ? Setting.get_settings_value('description').html_safe : '' %></span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /bradcam_area  -->
