<!-- footer start -->
<footer class="footer">
  <div class="footer_top" style='display:none;'>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-2 col-md-3">
          <div class="footer_logo wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">
            <a href="<%= root_path %>">
              <% if !@setting.logo_attachment.nil? %>
                <% if @setting.logo_attachment.attached? %>
                  <%= image_tag @setting.logo_attachment, :class => 'img-fluid', :style => 'width: auto; height: 90px;', :alt => @setting.title %>
                <% else %>
                  <img data-src="holder.js/200x90?text=Logo Here">
                <% end %>
              <% else %>
                <img data-src="holder.js/200x90?text=Logo Here">
              <% end %>
            </a>
          </div>
        </div>
        <div class="col-xl-7 col-lg-7 col-md-9">
          <div class="menu_links">
            <ul>
              <li>
                <a class="wow fadeInDown" data-wow-duration="1s" data-wow-delay=".2s" href="<%= root_path %>"><%= get_menu_1 %></a class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
              </li>
              <li>
                <a class="wow fadeInDown" data-wow-duration="1s" data-wow-delay=".4s" href="<%= bullet_board_path %>"><%= get_menu_2 %></a>
              </li>
              <li>
                <a class="wow fadeInDown" data-wow-duration="1s" data-wow-delay=".6s" href="<%= about_us_path %>"><%= get_menu_3 %></a>
              </li>
              <li>
                <a class="wow fadeInDown" data-wow-duration="1s" data-wow-delay=".8s" href="<%= vision_path %>"><%= get_menu_4 %></a>
              </li>
              <li>
                <a class="wow fadeInDown" data-wow-duration="1s" data-wow-delay=".8s" href="<%= brief_report_path %>"><%= get_menu_5 %></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-12">
          <div class="socail_links">
            <!-- <ul>
              <li><a class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s" href="#"> <i class="fa fa-facebook"></i> </a></li>
              <li><a class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s" href="#"> <i class="fa fa-twitter"></i> </a></li>
              <li><a class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s" href="#"> <i class="fa fa-instagram"></i> </a></li>
              <li><a class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s" href="#"> <i class="fa fa-google-plus"></i> </a></li>
            </ul> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copy-right_text">
    <div class="container">
      <div class="footer_border"></div>
      <div class="row">
        <div class="col-xl-12">
          <p class="copy_right text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.3s">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script>
            All rights reserved | <%= get_title %>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
