<% @setting = Setting.first %>

<!-- header-start -->
<header>
  <div class="header-area ">
    <div id="sticky-header" class="main-header-area">
      <div class="container-fluid p-0">
        <div class="row align-items-center no-gutters">
          <div class="col-xl-4 col-lg-4">
            <div class="logo-img">
              <a href="<%= root_path %>">
                <% if !@setting.logo_attachment.nil? %>
                  <% if @setting.logo_attachment.attached? %>
                    <%= image_tag @setting.logo_attachment, :class => 'img-fluid', :style => 'width: auto; height: 90px;', :alt => @setting.title %>
                  <% else %>
                    <img data-src="holder.js/200x90?text=Logo Here">
                  <% end %>
                <% else %>
                  <img data-src="holder.js/200x90?text=Logo Here">
                <% end %>
              </a>
            </div>
          </div>
          <div class="col-xl-8 col-lg-8">
            <div class="main-menu  d-none d-lg-block text-center">
              <nav>
                <ul id="navigation">
                  <li><a href="<%= root_path %>"><%= get_menu_1 %></a></li>
                  <li><a href="<%= bullet_board_path %>"><%= get_menu_2 %></a></li>
                  <li><a href="<%= about_us_path %>"><%= get_menu_3 %></a></li>
                  <li><a href="<%= vision_path %>"><%= get_menu_4 %></a></li>
                  <li><a href="<%= brief_report_path %>"><%= get_menu_5 %></a></li>
                  <li><a href="<%= photo_gallery_path %>"><%= get_section_1 %></a></li>
                  <li><a href="#get_in_tauch_area">Contact Us</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-12">
            <div class="mobile_menu d-block d-lg-none"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- header-end -->
