/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require owl.carousel.min
 *= require magnific-popup
 *= require font-awesome
 *= require themify-icons
 *= require nice-select
 *= require flaticon
 *= require gijgo
 *= require animate.min
 *= require slick
 *= require slicknav
 *= require style
 *= require style-override
 */


 .slick-prev:before {
   color: black;
 }
 .slick-next:before {
   color: black;
 }